{% extends 'base.html' %}
{% block title %}Welcome to CakeShop!
{% endblock title %}
{% block body %}
<div class="container">
<div class="card mt-2" style="width: 18rem;">
  <img src="https://source.unsplash.com/720x600/?cake,vanilla" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pineapple cake</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Addons</li>
    <li class="list-group-item">Price: 800rs</li>
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-info">Buy</a>
    <a href="#" class="btn btn-info">Full info</a>
  </div>
</div>

<div class="card mt-2" style="width: 18rem;">
  <img src="https://source.unsplash.com/720x600/?chocolate,cake" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chocolate Cake</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Addons</li>
    <li class="list-group-item">Price: 1200rs</li>
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-info">Buy</a>
    <a href="#" class="btn btn-info">Full info</a>
  </div>
</div>
</div>
<br>        
{% endblock body %}